<%- include('partials/header') %>
    <body>
        <main class="main-content">
            <h1>Current available quotes:</h1>
            <!-- Current available quotes here -->
            <a class="new-quote__link" href="/quotes/new">Add a New Quote</a>
        </main>
    </body>
</html>

